@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

html, body {
    font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
    font-size: 1em;
    font-style: normal;
    line-height: 1.4;
}